:root {
	--day: #2cc8ef;
}

* {
	margin: 0px;
	box-sizing: border-box;
}

.dayTimeColor {
	background-color: var(--day);
}

.searchIcon.disabled,
.spinner.disabled,
.disabled {
	display: none;
}

.wrap {
	color: #fff;
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	width: 100%;
}

.container {
	width: 90%;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: space-between;
}

.header,
.main,
.footer {
	width: 100%;
}

.alert {
	margin-top: 20px;
	background-color: #48d64f;
	padding: 30px;
	border-radius: 10px;
}

.dataBoxTemperature {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.inputLocation {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	width: 100%;
}

.spinner {
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headerBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.inputLocation form {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}

.inputLocation form div {
	width: 100%;
	display: flex;
}

.search {
	background: transparent;
	color: #fff;
	border: none;
}

.fa.fa-search {
	justify-self: end;
}

.inputLocation input {
	background-color: transparent;
	border: none;
	color: inherit;
	margin-left: 10px;
	width: 100%;
}

.inputLocation input:focus {
	outline: none;
}

.dataBox {
	align-items: start;
	display: flex;
	flex-wrap: nowrap;
	margin-top: 10px;
	width: 80%;
}

.dataText {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.condition {
	font-size: 30px;
	width: 100%;
}

.temperatureNumber {
	font-size: 80px;
}

.condition,
.date {
	margin-left: 10px;
}

.imageContainer {
	width: 100%;
}

.imageContainer img {
	width: 100%;
}

.headerBox,
.forecast {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-top: 20px;
}

.forecastList {
  width: 100%;
  padding: 0px;
  display: inline-block;
}

.forecastElement {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

.leftContent {
  display: inherit;
  align-items: center;
}

.leftContent img {
  margin-right: 10px;
}

.footer {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}